
/* Icon styles for contact info module */

.social-icon {
  display: inline-block;
  height: 48px;
  margin-right: 5px;
  vertical-align: top;
  width: 48px;
}

.facebook {
  background: url('../icons/facebook.png');
}

.google-plus {
  background: url('../icons/google-plus.png');
}

.twitter {
  background: url('../icons/twitter.png');
}
